<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ TITLE }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <h1>{{ TITLE }}</h1>
  <h2>{{ TITLE_PROXY }}</h2>
  <ul>
    {% for url, label in url_directory %}
      <li><a href="http://{{ url }}" target="_blank">{{ label }}</a></li>
    {% endfor %}
  </ul>
  <h2>{{ TITLE_SYSTEM }}</h2>
  <ul>
    <li><a href="http://192.168.8.1/#/login" target="_blank">Router</a></li>
    <li><a href="http://192.168.8.144:90/#/login" target="_blank">Casa OS Backend</a></li>
  </ul>
</body>
</html>
